@import url("/style.css");
.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: row;
    background-color: var( --secondary-bg-color);
    padding: 10rem;
    border-radius: 1rem;
}

.herostore-title {
    font-size: var(--size-12);
    color: var(--secondary-white);
}

.form-container button {
    width: 15rem;
}

.hero-btn {
    width: 50%;
}

.form-control {
    position: relative;
}

.pwd-display,
.pwd-display2 {
    color: var(--text-color);
    position: absolute;
    top: 55%;
    right: 1rem;
}

@media (max-width:992px) {
    .ninja-img {
        display: none;
        top: 0;
        right: 10;
    }
}

@media (max-width:480px) {
    .form-container {
        font-size: 40%;
    }
    .create-acc-hlink {
        font-size: var( --size-6);
    }
}
