@import url("/style.css");
.filterList {
    padding: 3rem 0 0 3rem;
    flex-basis: 250px;
    min-width: 250px;
    height: 100vh;
    font-size: 1.4rem;
}

#price-filter {
    width: 100%;
}

.filter-head {
    font-size: 2rem;
}

.main-content {
    flex-grow: 1;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.ecom-card {
    width: 25rem;
    height: 45rem;
}

@media (max-width:500px) {
    .filterList {
        display: none;
    }
}
